<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WeFly</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP09_Zalcman_Gitman.styles.css" asp-append-version="true" />
</head>
<body>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

   <header>
        <nav class="menu navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="home" asp-area="" asp-controller="Home" asp-action="Home"><img class="logo" src="/LogoProgViaje.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            if(ViewBag.destacado == "Home")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Home"><b>Home</b></a>
                                </li>
                            }
                            else{
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
                                </li>
                            }
                            if(ViewBag.destacado == "Destinos")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Destinos"><b>Destinos</b></a>
                                </li>
                            }
                            else{
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Destinos">Destinos</a>
                                </li>
                            }
                        }
                        <form class="form-inline my-2 my-lg-0 buscar">
                            <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                               <input class="form-control mr-sm-2" type="search" placeholder="Buscá un destino" aria-label="Search"> 
                            </li>
                            <li class="nav-item">
                               <button class="btn btn-outline-secondary" type="submit">Buscar</button> 
                            </li>
                            </ul>
                        </form>
                    </ul>
                    <div class="sesion nav-item" id="sesion">
                        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="IniciarSesion">Iniciar sesión</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Registrarse" data-bs-toggle="modal" data-bs-target="#miperfil">Registrarse</a>
                    </div>
                    <script>
                        SesionIniciadaONo();
                    </script>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="foot text-muted">
        <div class="container">
            &copy; 2022 - Matias Zalcman & Bryan Gitman 4IB
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)

    <div class="modal fade" id="miperfil" tabindex="-1" aria-labelledby="miperfillabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="miperfillabel">Mi cuenta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="circulo mimarco">
                <img src="/selfie0.jpg" id="imagen0">
                <script>
                    HorizontalOVertical("imagen0");
                </script>
            </div>
            <h5 class="text-center">Nombre Usuario</h5> 
            <a class="btn btn-primary opcionesperfil" href='@Url.Action("Home","Home",new {idUser = 1, idDest = 0})'>Mis Publicaciones</a>
            <a class="btn btn-success opcionesperfil" href='@Url.Action("Index","Home")'>Cerrar Sesion</a>    
            <br>        
        </div>
    </div>
</body>
</html>
