@{
    ViewData["Title"] = "Agregar Publicacion";
}
<div class="container contenido">
    <br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="post">
                <br>
                <form method="post" action='@Url.Action("GuardarPost","Home")'> 
                    <div class="row">
                        <div class = "col-sm-4">
                            <span class ="ingresarFoto"> 
                                <input type="file" name="Foto1" id="ingresarAP">
                            </span>
                            <label for="ingresarAP"> 
                                <span>+</span>
                            </label>
                            <p class="select">Seleccionar foto de perfil</p>
                        </div>
                        <div class = "col-sm-4">
                            <span class ="ingresarFoto"> 
                                <input type="file" name="Foto2" id="ingresarAP">
                            </span>
                            <label for="ingresarAP"> 
                                <span>+</span>
                            </label>
                            <p class="select">Seleccionar foto de perfil</p>
                        </div>
                        <div class = "col-sm-4">
                            <span class ="ingresarFoto"> 
                                <input type="file" name="Foto3" id="ingresarAP">
                            </span>
                            <label for="ingresarAP"> 
                                <span>+</span>
                            </label>
                            <p class="select">Seleccionar foto de perfil</p>
                        </div>
                    </div> 
                    <div class = "select">
                        <p>Escribir Opinion</p>
                        <textarea name="Opinion" rows="5" cols="75"></textarea>
                    </div>  
                    <div class = "row">
                        <div class="col-sm-6">
                            <select name = "IDDestino">
                                <option value ="1">Argentina</option>
                            </select> 
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>