@{
    ViewData["Title"] = "Destinos";
}
<div class="container contenido">
    <br>
    <a href='@Url.Action("Index","Home",new {idDest = 1})' class = "container-fluid dest d-flex align-items-center justify-content-between">
        <div class="circulo">
            <img class="imgH" src="/argentina.png" >
        </div> 
        <div class="bandDest">
        <p>Destino</p>
        </div>
        <div class="d-flex">
            <img class="estrella" src="/estrellaon.png">
            <img class="estrella" src="/estrellaon.png">
            <img class="estrella" src="/estrellaon.png">
            <img class="estrella" src="/estrellaon.png">
            <img class="estrella" src="/estrellaoff.png">
        </div>
    </a>
    <br>
    <a href='@Url.Action("Index","Home",new {idDest = 2})' class = "container-fluid dest d-flex align-items-center justify-content-between">
        <div class="circulo">
            <img class="imgH" src="/brasil.png" >
        </div>  
        <div class="bandDest">
        <p>Destino</p>
        </div>
        <div class="d-flex">
            <img class="estrella" src="/estrellaon.png">
            <img class="estrella" src="/estrellaon.png">
            <img class="estrella" src="/estrellaon.png">
            <img class="estrella" src="/estrellaoff.png">
            <img class="estrella" src="/estrellaoff.png">
        </div>
    </a>
    <br>
    <a href='@Url.Action("Index","Home",new {idDest = 3})' class = "container-fluid dest d-flex align-items-center justify-content-between">
        <div class="circulo">
            <img class="imgH" src="/eeuu.png" >
        </div>  
        <div class="bandDest">
        <p>Destino</p>
        </div>
        <div class="d-flex">
            <img class="estrella" src="/estrellaon.png">
            <img class="estrella" src="/estrellaon.png">
            <img class="estrella" src="/estrellaon.png">
            <img class="estrella" src="/estrellaon.png">
            <img class="estrella" src="/estrellaoff.png">
        </div>
    </a>
</div>





