@{
    ViewData["Title"] = "Destinos";
}
<div class="container contenido">
    <br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
        @{
            foreach(Destino dest in ViewBag.listadoDestinos)
            {
                <div class = "post dest">
                    <a href='@Url.Action("Home","Home",new {idUser = 0, idDest = @dest.ID})'>
                        <div class="row dataPost">
                            <div class="circulo">
                                <img class="imgH" src="/@dest.FotoPais">
                            </div>
                            <div class="col-sm-5 col-2 dataPost">
                                <p>@dest.Nombre</p>
                            </div>
                            <div class="col-sm-4 col-6 dataPost">
                                @{
                                    if(dest.PromedioEstrellas != 0)
                                    {
                                        for(int i = 1;i <= 5;i++)
                                        {
                                            if(i<=dest.PromedioEstrellas)
                                            {
                                                <img class="estrella" src="/estrellaon.png">
                                            }
                                            else
                                            {
                                                <img class="estrella" src="/estrellaoff.png">
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </a>
                </div>
                <br>
            }
        }
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>





