@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <header>
        <nav class="menu navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="home" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="/LogoProgViaje.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><b>Home</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Destinos">Destinos</a>
                        </li>
                        <form class="form-inline my-2 my-lg-0 buscar">
                            <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                               <input class="form-control mr-sm-2" type="search" placeholder="Buscá un destino" aria-label="Search"> 
                            </li>
                            <li class="nav-item">
                               <button class="btn btn-outline-secondary" type="submit">Buscar</button> 
                            </li>
                            </ul>
                        </form>
                    </ul>
                    <div class="sesion nav-item">
                        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Tutorial">Iniciar sesión</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Comenzar">Registrarse</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <header>
        <nav class="menu navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="home" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="/LogoProgViaje.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><b>Home</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Destinos">Destinos</a>
                        </li>
                        <form class="form-inline my-2 my-lg-0 buscar">
                            <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                               <input class="form-control mr-sm-2" type="search" placeholder="Buscá un destino" aria-label="Search"> 
                            </li>
                            <li class="nav-item">
                               <button class="btn btn-outline-secondary" type="submit">Buscar</button> 
                            </li>
                            </ul>
                        </form>
                    </ul>
                    <div class="sesion nav-item">
                        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Tutorial">Iniciar sesión</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Comenzar">Registrarse</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="post">

            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>