@{
    ViewData["Title"] = "Registrarse";
}
<body>
    <div class="logoIS"><img src="/LogoProgViaje.png"></div>
    <form method="post" enctype="multipart/form-data" action='@Url.Action("SesionCreada","Home")'>
        <div class = "row registro">
            <div class = "col-sm-6">
                <input name="NombreUsuario" class="inputR" type="text" placeholder="Nombre de Usuario">
            </div>
            <div class = "col-sm-6">
                <input name="Contraseña" class="inputR" type="password" placeholder="Contraseña">
            </div>
            <div class = "col-sm-6">
            <input name="Pais" class="inputR" type="text" placeholder="Pais de Residencia">
            </div> 
               <div class = "col-sm-1">
                <span class ="ingresarFoto"> 
                    <input type="file" name="FotoPerfil" id="ingresarFP">
                </span>
                <label for="ingresarFP"> 
                    <span>+</span>
                </label>
            </div>
            <div class="col-sm-5">
                <p class="select">Seleccionar foto de perfil</p>
            </div>    
        </div>
        <br>
        <p class="text-muted text-center">¿Ya tenés una cuenta? <a class="atajologin" href="IniciarSesion">Inicia Sesion</a></p>  
        <input type="submit" class="btn btn-primary submitIS" value="Registrarse"> 
    </form>
</body>