html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(158, 213, 236);
}

img {
  width: 100%;
  height: auto;
}

.foot {
  position:fixed;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 8rem;
  padding: 1%;
  bottom: 0;
}

.text-muted {
  margin-left: 2%;
}

.menu {
  position:fixed;
  z-index: 1000 !important;
  top: 0;
  width: 100%;
  background-color: rgb(141, 200, 168);
}

.home {
  width: 15%;
  height: auto;
  float: left;
}

.nav-item {
  margin-left: 3%;
}

.buscar {
  margin-left: 3%;
}

.sesion {
  float: right;
}

.contenido {
  margin-top: 9%;
}

.post {
  width: 100%;
  height: auto;
  background-color: #F5F5F5;
  border-radius: 10px;
}

.circulo {
  padding: 0px;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}

.imgH {
  width: auto;
  height: 100%;
  margin-left: -25%;
}

.dataPost {
  margin: 2%;
}

.user {
  margin: 2%;
  margin-bottom: -5%;
  display: flex;
}

.estrella {
  width: 15%;
  height: auto;
}

.carousel {
  margin-left: 1%;
  width: 98%;
  height: auto;
}