html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(158, 213, 236);
}

img {
  width: 100%;
  height: auto;
}

a {
  color: black; 
  text-decoration:none; 
}

a:hover {
  color: black; 
  text-decoration:none; 
  cursor:pointer;  
}

.foot {
  position:fixed;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 8rem;
  padding: 1%;
  bottom: 0;
}

.text-muted {
  margin-left: 2%;
}

.menu {
  position:fixed;
  z-index: 1000 !important;
  top: 0;
  width: 100%;
  background-color: rgb(141, 200, 168);
}

.home {
  width: 15%;
  height: auto;
  float: left;
}

.nav-item {
  margin-left: 3%;
}

.buscar {
  margin-left: 3%;
}

.sesion {
  float: right;
}

.contenido {
  margin-top: 9%;
}

.post {
  width: 100%;
  height: auto;
  background-color: #F5F5F5;
  border-radius: 10px;
}

.dest {
  padding: 1%;
  width: 50%;
  height: 10%;
  background-color: #F5F5F5;
  border-radius: 10px;
}

.circulo {
  padding: 0px;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}

.imgH {
  width: auto;
  height: 100%;
  margin-left: -25%;
}

.dataPost {
  margin: 2%;
}

.user {
  margin: 2%;
  margin-bottom: -5%;
  display: flex;
}

.bandDest {
  margin: 1%;
  margin-bottom: -2%;
  margin-left: -50%;
  display: flex;
}

.estrella {
  width: 25px;
  height: auto;
}

.carousel {
  margin-left: 1%;
  width: 98%;
  height: auto;
}

.fecha {
  float:right;
}

.newPost {
  margin: 1%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #F5F5F5;
  text-align: center;
  font-size: 250%; 
}

.logoIS{
  width: 45%;
  height: auto;
  margin-left: 27.5%;
  margin-top: 10%;
}

.name{
  width: 15%;
  margin-left: 42.5%;
  padding-left: 1%;
  margin-top: 4%;
  border-radius: 10px;
  border-style: none;
}

.contra{
  width: 15%;
  margin-left: 42.5%;
  padding-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  border-style: none;
}

.submitIS{
  width: 18%;
  height: auto;
  margin-left: 41%;
  margin-top: 2%;
}

.atajologin{
  color: blue;
}

.inputR{
  padding-left: 2%;
  width: 100%;
  margin: 4%;
  border-radius: 10px;
  border-style: none;
}

.registro{
  margin-left: 30%;
  width: 40%;
}

.ingresarFoto {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  }

  label[for="ingresarFP"] {
    font-size: 25px;
    color: rgb(0, 0, 0);
    background-color: #D9D9D9;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;    
    text-align: center;
  }

  label[for="ingresarAP"] {
    font-size: 50px;
    color: rgb(0, 0, 0);
    background-color: #D9D9D9;
    cursor: pointer;
    height: 80px;
    width: 80px;
    border-radius: 50%;    
    text-align: center;
    margin-left:25%;
  }

  .select {
    margin:3%;
  }
