USE [master]
GO
/****** Object:  Database [WeFly]    Script Date: 23/11/2022 17:51:16 ******/
CREATE DATABASE [WeFly]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WeFly', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WeFly.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WeFly_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WeFly_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WeFly].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WeFly]
GO
/****** Object:  Table [dbo].[Comentario]    Script Date: 23/11/2022 17:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[IDPublicacion] [int] NOT NULL,
	[Contenido] [varchar](100) NOT NULL,
	[FechaComentario] [datetime] NOT NULL,
 CONSTRAINT [PK_Comentario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destino]    Script Date: 23/11/2022 17:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destino](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[FotoPais] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Destino] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Likes]    Script Date: 23/11/2022 17:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[IDUsuario] [int] NOT NULL,
	[IDPublicacion] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Like] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publicacion]    Script Date: 23/11/2022 17:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publicacion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[IDDestino] [int] NOT NULL,
	[Estrellas] [int] NOT NULL,
	[Opinion] [varchar](300) NULL,
	[Foto1] [varchar](50) NULL,
	[Foto2] [varchar](50) NULL,
	[Foto3] [varchar](50) NULL,
	[FechaPublicacion] [datetime] NOT NULL,
 CONSTRAINT [PK_Publicacion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 23/11/2022 17:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](20) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Pais] [varchar](50) NOT NULL,
	[FotoPerfil] [varchar](50) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comentario] ON 

INSERT [dbo].[Comentario] ([ID], [IDUsuario], [IDPublicacion], [Contenido], [FechaComentario]) VALUES (1, 5, 1, N'Que bonito debe de ser el caribe. A mi me queda un poco lejos :(', CAST(N'2022-02-23T00:00:00.000' AS DateTime))
INSERT [dbo].[Comentario] ([ID], [IDUsuario], [IDPublicacion], [Contenido], [FechaComentario]) VALUES (2, 2, 2, N'Uh mal ahi, perdón pero altos muertos esos', CAST(N'2022-04-17T00:00:00.000' AS DateTime))
INSERT [dbo].[Comentario] ([ID], [IDUsuario], [IDPublicacion], [Contenido], [FechaComentario]) VALUES (3, 3, 2, N'Estas loco, parse. ¿Ir hasta allí solo para ver un partido?', CAST(N'2022-04-18T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comentario] OFF
GO
SET IDENTITY_INSERT [dbo].[Destino] ON 

INSERT [dbo].[Destino] ([ID], [Nombre], [FotoPais]) VALUES (1, N'Rio de Janeiro', N'brasil.png')
INSERT [dbo].[Destino] ([ID], [Nombre], [FotoPais]) VALUES (3, N'Cancún', N'mexico.png')
INSERT [dbo].[Destino] ([ID], [Nombre], [FotoPais]) VALUES (4, N'Iguazú', N'argentina.png')
SET IDENTITY_INSERT [dbo].[Destino] OFF
GO
SET IDENTITY_INSERT [dbo].[Likes] ON 

INSERT [dbo].[Likes] ([IDUsuario], [IDPublicacion], [ID]) VALUES (1, 5, 1)
INSERT [dbo].[Likes] ([IDUsuario], [IDPublicacion], [ID]) VALUES (2, 5, 2)
INSERT [dbo].[Likes] ([IDUsuario], [IDPublicacion], [ID]) VALUES (3, 5, 3)
SET IDENTITY_INSERT [dbo].[Likes] OFF
GO
SET IDENTITY_INSERT [dbo].[Publicacion] ON 

INSERT [dbo].[Publicacion] ([ID], [IDUsuario], [IDDestino], [Estrellas], [Opinion], [Foto1], [Foto2], [Foto3], [FechaPublicacion]) VALUES (1, 8, 3, 5, N'Playas hermosas, el mar limpio y con la temperatura ideal. El lugar perfecto para relajarse. De mis mejores vacaciones sin duda.', N'post1f1.jpg', NULL, NULL, CAST(N'2022-02-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Publicacion] ([ID], [IDUsuario], [IDDestino], [Estrellas], [Opinion], [Foto1], [Foto2], [Foto3], [FechaPublicacion]) VALUES (2, 4, 1, 3, N'Muy lindo el estadio pero la bajó mucho que no gane Flamengo loco. La pasé re piola igual.', N'post2f1.jpg', NULL, NULL, CAST(N'2022-04-16T00:00:00.000' AS DateTime))
INSERT [dbo].[Publicacion] ([ID], [IDUsuario], [IDDestino], [Estrellas], [Opinion], [Foto1], [Foto2], [Foto3], [FechaPublicacion]) VALUES (3, 6, 6, 4, N'Una experiencia increíble, viaje inolvidable. Demasiada gente en todos lados que dificultaba las excursiones pero todo hermoso.', N'post3f1.jpg', N'post3f2.jpg', NULL, CAST(N'2022-01-29T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Publicacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([ID], [NombreUsuario], [Contraseña], [Pais], [FotoPerfil]) VALUES (1, N'carlos.gutierrez', N'jmSDJWrC', N'Chile', N'selfie1.jpg')
INSERT [dbo].[Usuario] ([ID], [NombreUsuario], [Contraseña], [Pais], [FotoPerfil]) VALUES (2, N'martin_rodriguezz', N'eu04Ua3a', N'Argentina', N'selfie2.jpg')
INSERT [dbo].[Usuario] ([ID], [NombreUsuario], [Contraseña], [Pais], [FotoPerfil]) VALUES (3, N'ferhernandez_', N'QBXtsQmE', N'Colombia', N'selfie3.jpg')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Comentario]  WITH CHECK ADD  CONSTRAINT [FK_Comentario_Publicacion] FOREIGN KEY([IDPublicacion])
REFERENCES [dbo].[Publicacion] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comentario] CHECK CONSTRAINT [FK_Comentario_Publicacion]
GO
ALTER TABLE [dbo].[Comentario]  WITH CHECK ADD  CONSTRAINT [FK_Comentario_Usuario] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[Comentario] CHECK CONSTRAINT [FK_Comentario_Usuario]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Like_Publicacion] FOREIGN KEY([IDPublicacion])
REFERENCES [dbo].[Publicacion] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_Like_Publicacion]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Like_Usuario] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_Like_Usuario]
GO
ALTER TABLE [dbo].[Publicacion]  WITH CHECK ADD  CONSTRAINT [FK_Publicacion_Destino] FOREIGN KEY([IDDestino])
REFERENCES [dbo].[Destino] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Publicacion] CHECK CONSTRAINT [FK_Publicacion_Destino]
GO
ALTER TABLE [dbo].[Publicacion]  WITH CHECK ADD  CONSTRAINT [FK_Publicacion_Usuario] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuario] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Publicacion] CHECK CONSTRAINT [FK_Publicacion_Usuario]
GO
USE [master]
GO
